<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="color-theme" content="light dark" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&family=Poppins:wght@900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../css/chat.css" />
    <title>BaPo - Converse com estranhos</title>
  </head>
  <body>
    <header class="header">
      <a href="/" class="logo">BaPo</a>

      <nav class="nav">
        <ul class="nav__list">
          <li class="nav__item"><a href="/" class="nav__link">Início</a></li>
          <li class="nav__item">
            <a href="/chat" class="nav__link">Conversar</a>
          </li>
          <li class="nav__item">
            <a href="/privacy" class="nav__link">Política de Privacidade</a>
          </li>
          <li class="nav__item">
            <a href="/terms" class="nav__link">Termos de Uso</a>
          </li>
          <li class="nav__item">
            <a href="/support" class="nav__link">Suporte</a>
          </li>
        </ul>
      </nav>
    </header>

    <main class="main">
      <section class="message-container" id="message-container">
        <ul class="message__list" id="message__list"></ul>
        <div class="new-chat" id="new-chat" hidden>
          <button
            class="btn btn--primary new-chat__btn"
            id="new-chat__btn"
            hidden
          >
            Nova conversa
          </button>
        </div>
      </section>

      <div class="message-composer" id="message-composer">
        <form class="message-composer__form" id="message-composer__form">
          <textarea
            name="message"
            id="message-composer__textarea"
            class="message-composer__textarea"
            rows="1"
            placeholder="Digite sua mensagem"
            required
            disabled
            autofocus
          ></textarea>
          <button type="submit" class="message-composer__btn" disabled>
            <span class="material-symbols-rounded message-composer__icon">
              send
            </span>
          </button>
        </form>

        <button
          class="message-composer__skip message-composer__btn"
          id="message-composer__skip"
          disabled
        >
          <span class="material-symbols-rounded message-composer__icon">
            mode_off_on
          </span>
        </button>
      </div>
    </main>

    <script src="/socket.io/socket.io.js"></script>
    <script src="../js/chat.js"></script>
  </body>
</html>
